<div>
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>{{kafka?.count}}</th>
        <th>次数</th>
        <th>时间</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let kafka of kafkas">
        <td>
          <div>
            <span>{{kafka.id}}</span>
          </div>
        </td>
        <td>
          <div>
            <span>{{kafka.name}}</span>
          </div>
        </td>
        <td>
          <div>
            <span>{{kafka.count}}</span>
          </div>
        </td>
        <td>
          <div>
            <span>{{kafka.time}}</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
