<div class="table-page">

  <div animation="linear-show">
    <table class="table">
      <thead>
      <tr>
        <th colspan="2">添加</th>
      </tr>
      </thead>
      <tbody dragula='table-bag'>
      <tr class="grab">
        <label>
          <span>
            用户名
          </span>
        </label>
        <td>
          <input type="text" [(ngModel)]="user.username"
                 validate [rule]="rules.username" [validateValue]="user.username">
        </td>
      </tr>
      <tr class="grab">
        <label>
          <span>
            密码
          </span>
        </label>
        <td>
          <input type="text" [(ngModel)]="user.password"
                 validate [rule]="rules.password" [validateValue]="user.password">
        </td>
      </tr>
      <tr class="grab">
        <label>
          <span>
            姓名
          </span>
        </label>
        <td>
          <input type="text" [(ngModel)]="user.name"
                 validate [rule]="rules.name" [validateValue]="user.name">
        </td>
      </tr>
      <tr class="grab">
        <label>
          <span>
            年龄
          </span>
        </label>
        <td>
          <input type="text" [(ngModel)]="user.age"
                 validate [rule]="rules.age" [validateValue]="user.age">
        </td>
      </tr>
      <tr class="grab">
        <label>
          <span>
            是否禁用
          </span>
        </label>
        <td>
          <switcher (switchChange)="updateStatus($event)" [model]="user" [attr]="'disable'" [value]="user.disable"></switcher>
        </td>
      </tr>
      <tr class="grab">
        <td colspan="2" style="text-align: center" >
          <button class="default-btn" (click)="saveUser()">保存</button>
          <a class="default-btn" routerLink="/user/list">返回</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
